<h1>About Us</h1>
 <p>
   Get help on Ruby on Rails Tutorial at the
   <a href="http://railstutorial.org/">Ruby on Rails Tutorial help pages</a>.
    To gget help on this sample app, set the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial book</a>.
  </p>
